.footer {
  background-color: #eaf0ed;
  &-subscription {
    background-color: #3f5d45;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    .subscription {
      &-title {
        flex-basis: 50%;
        width: 100%;
        font-size: 1.5rem;
        color: #eaf0ed;
        display: flex;
        padding: 1.25rem;
        justify-content: space-around;
        &-img {
          width: 40px;
          height: 40px;
        }
      }
      &-mailbox {
        flex-basis: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eaf0ed;
        &-label {
          // padding: 1.25rem 1.5rem;
          padding: 0 1.25rem;
          margin-top: auto;
          margin-bottom: 0.1rem;
        }
        &-input {
          background-color: transparent;
          border: none;
        }
        &-btn {
          background-color: #ffe180;
          border: none;
          // font-size: 1rem;
          line-height: 1rem;
          padding: 1.25rem 1.5rem;
          margin-left: auto;
        }
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    .content {
      &-title {
        width: 50%;
        max-width: 10rem;
      }
      &-info {
        list-style: none;
        padding: 0;
        margin: 2.5rem 0;
        line-height: 1.5rem;
      }
      &-social_link {
        margin-bottom: 1.5rem;
        &-item {
          width: 2rem;
        }
      }
    }
  }
}